<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>Képviselőválasztó</title>
</head>
<body style="background-color: lightblue;">
    <%- include('navbar') -%>
    <div class="container" style="background-color: white; padding: 0px;  ; border: none">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" style="border-right-width: 0px"> 
                        <%= kepviselo.nev %>
                    </th>
                    <th style="text-align: right; border-left-width: 0px">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kepviseloeditmodal">
                            <i class="bi bi-pencil-square"></i> 
                        </button>
                    </th>
                </tr>    
            </thead>
            <tbody> 
                <tr>
                    <td rowspan="4" style="width: 1px">
                        <img width="150px" src="<%= kepviselo.kep %>"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Név:</h5>
                    </td>
                    <td>
                        <p><%= kepviselo.nev %></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 1px">
                        <h5>Jelölő&nbspszervezetek:</h5>
                    </td>
                    <td>
                        <% jelolok.forEach( function(jelolo) {
                             if (kepviselo._jelolok.includes(jelolo._id)) { %>
                                <a href="/jelolo/<%= jelolo._id %>"><p><%= jelolo.nev %></p></a>
                        <% }}) %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Programja:</h5>
                    </td>
                    <td>
                        <p><%= kepviselo.program %></p>
                    </td>
                </tr>
                <tr>
                    <td colspan= "3">
                        <h3>Bemutatkozás:</h3>
                        <p>
                            <%= kepviselo.bemutatkozas %>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modals -->
        <div class="modal fade" id="kepviseloeditmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Képviselő adatainak módosítása</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/kepviselo/edit/<%= kepviselo._id %>">
                        <div class="mb-3" style="text-align: start;">
                            <label for="oevknev" class="form-label" >Név:</label>
                            <input type="text" class="form-control" id="oevknev" value="<%= kepviselo.nev %>" name="nev">
                            <label for="kepviselok" class="form-label">Jelölő szervezetek:</label>
                            <% jelolok.forEach( function(jelolo) { %>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="jelolok" value="<%= jelolo._id %>" id="<%= jelolo._id %>>" <% if(kepviselo._jelolok.includes(jelolo._id)) { %> checked <% } %>>
                                    <label class="form-check-label" for="<%= jelolo._id %>">
                                        <%= jelolo.nev %>
                                    </label>
                                </div>
                            <% }) %>
                            <label for="kepviseloprogram" class="form-label">Programja:</label>
                            <input type="text" class="form-control" id="kepviseloprogram" value="<%= kepviselo.program %>" name="program">
                            <label for="bemutatkozas" class="form-label">Bemutatkozás:</label>
                            <input type="text" class="form-control" id="bemutatkozas" value="<%= kepviselo.bemutatkozas %>" name="bemutatkozas">
                            <label for="kep" class="form-label">Kép:</label>
                            <input type="text" class="form-control" id="kep" value="<%= kepviselo.kep %>" name="kep">
                            <input type="hidden" name="ret" value="/kepviselo/<%= kepviselo._id %>">
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
                        <button type="submit" class="btn btn-primary">Módosítás</button>
                    </form>
                </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>